.item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 24px;
      padding: 3rem 1rem
}

@media (max-width: 1024px) {
  .item-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}

@media (max-width: 600px) {
  .item-grid {
    grid-template-columns: 1fr; /* 1 column on phones */
  }
}
